<%= form_for @tarea do |f| %>

  <p>
    <%= f.label :enunciado, "Enunciado" %><br>
    <%= f.text_area :enunciado %>
  </p>

<p>
  <%= f.label :fecha, "Fecha" %><br>
  <%= f.text_area :fecha %>
</p>

  <p>
    <%= f.submit %>
  </p>
<% end %>