

<%= form_for @subject do |f| %>

  <p>
    <%= f.label :nombre, "Nombre" %><br>
    <%= f.text_area :nombre %>
  </p>

<p>
  <%= f.label :codigo, "Codigo" %><br>
  <%= f.text_area :codigo %>
</p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>