<h1>Asignaturas</h1>


<ol>
	<% @subject.each do |subject| %>

		<li>
			<strong>Nombre: </strong><%= subject.nombre %><br>
			<strong>Codigo: </strong><%= subject.codigo %><br><br>
			<%= link_to "editar", edit_subject_path(subject) %>
			<%= link_to "delete", subject_path(subject), method: :delete, data: {confirm: "Estas seguro ? "} %>
		</li>

	<% end %>
</ol>

<%= link_to "Agregar asignatura", new_subject_path %>
